@import '../../../main-style.scss';

.main-container{
  display: flex;
  flex-direction: column;

  max-width: 500px;
  margin: auto;

  padding-top: 20px;
}

.note-list{
margin-top: 5px;
margin-bottom: 60px;
}

app-note-card{
  display: block;
  margin-bottom: 20px;
}

.floating-add-button{
  position: fixed;
  bottom: 1px;
  width: 500px;
  border-radius: 0;

  box-shadow: 0px 0px 15px 5px rgba($purple,0.2);

  height: 58px;
  font-size: 20px;

}
